@import '../../../styles/variables';
@import '../../../styles/mixins';

.form {
  &__control { position: relative; border: 1px solid $grey; border-radius: 3px; padding: 12px 5px; }
  &__field { border: none; width: 100%; height: 100%; outline: none; }
  &__label { position: absolute; top: 50%; left: 10px; color: $black; transform: translateY(-50%);
    transition: all 0.4s ease;
  }
  
  &__field:focus ~ &__label,
  &__field_active ~ &__label { top: 6px; left: 3px; font-size: 0.65rem; color: $primary; }
  &__error { position: absolute; bottom: -15px; left: 2px; font-size: 0.65rem; color: $attention;
    letter-spacing: 1px; font-weight: 700;
  }

  &__select-control { padding: 2px 0; }
}