@import '../../../styles/variables';
@import '../../../styles/mixins';

.user { padding: 10px 5px; border-bottom: 1px solid $light; @include flex-align-center; gap: 12px;
  background-color: $white; cursor: grab;
  &__avatar { max-width: 42px; max-height: 42px; border-radius: 50%; }
  &__avatar, &__actions { flex: 1; }
  &__details { flex: 2; font-size: 0.9rem; font-weight: 700; }
  &__actions { display: flex; justify-content: flex-end; padding-right: 5px; }

  &_draging { background-color: $extra-light; color: $light;
    & > .user__avatar { filter: blur(1px) grayscale(50%); }
    & > .user__actions { opacity: 0; }
  }
}